.section{
    background-color: #E0E8F1;
    padding-bottom: 30px;
}
.wrapper{
    max-width: 1110px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}
.aboutText{
    font-size: 1.25rem;
}