.section{
    background-color: #2E2237;
    padding-bottom: 30px;
}
.wrapper{
    max-width: 1110px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.aboutText{
    font-size: 1.25rem;
}
.contact_name{
    color: #E0E8F1;
}
.contactContent{
    display: flex;
    justify-content: space-around;
    color: #E0E8F1;
}

.contactLocation:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
.contactItem{
    width: 40%;
}
.contactItem p{
    text-align: left;
    font-size: large;
}