.section {
    padding-top: 1px;
    background-color: #2E2237;
}

.wrapper {
    max-width: 1110px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.aboutText {
    font-size: 1.25rem;
}

.grid {

    display: flex;
    width: 100%;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
    padding-bottom: 3rem;
    flex-wrap: wrap;
}
.add_theater{
    margin-bottom: 30px;
}
